body {
    padding: 0;
    background-color: rgb(25, 25, 25);
}

main {
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    margin-left: 20%;
    background-color: black;
    color: white;
    font-family: Rboto, Arial, sans-serif;
    width: 50%;
    position: relative;
    overflow: hidden;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 150px;
    margin-top: 40px;
    margin-bottom: 90px;
    z-index: 1;
}

img {
    width: 100%;
    height: auto;
}

p {
    color: grey;
    z-index: 1;
    max-width: 120ch;
    position: relative;
}

span {
    color: white;
    font-size: x-small;
    position: relative;
    top: -5px;
}

li {
    color: grey;
}

hr {
    display: block;
    border: 0;
    border: 1px solid grey;
}

h2 {
    margin-bottom: 60px;
    letter-spacing: 0.4rem;
    z-index: 1;
}

#rock {
    width: 791px;
    float: right;
    position: absolute;
    right: -500px;
    top: -50px;
}
#cane {
    top: 0px;
}